<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>WELCOME TO THE MAIN PAGE</h1>
    <p>This paget is served to you by Raymond :)  ....</p>
    <h2>The server</h2>
    <a href = 'https://www.openweathermap.org/'> Visit for more info !</a>

    <h2>HTML Image</h2>

    <!-- for image, it require a 'ststic folder' -->
    <img src='/static/pic_trulli.jpg' alt='Trulli' width='500' height='333'> 

    <h2>Image Maps</h2>
    <p>Click on the computer, the phone, or the cup of coffee to go to a new page and read more about the topic:</p>

    <img src="/static/workplace.jpg" alt="Workplace" usemap="#workmap" width="400" height="379">

    <map name="workmap">
    <area shape="rect" coords="34,44,270,350" alt="Computer" href="https://en.wikipedia.org/wiki/Computer">
    <area shape="rect" coords="290,172,333,250" alt="Phone" href="https://en.wikipedia.org/wiki/Telephone">
    <area shape="circle" coords="337,300,44" alt="Cup of coffee" href="https://en.wikipedia.org/wiki/Coffee">
    </map>
    
  

  <p>
  Video courtesy of 
  <a href="https://www.bigbuckbunny.org/" target="_blank">Big Buck Bunny</a>.
  </p>


  </body>
</html>
